button {
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  border: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input::placeholder {
  text-align: left;
}
input:focus {
  text-align: left;
}
br {
  line-height: 3px;
}
*:disabled {
  cursor: not-allowed;
}
.homeContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}

.homeContainer > div {
  width: 30%;
  margin-top: 10px;
}

.joinCreateContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  padding: 5px;
}

.joinCreateContainer > div {
  margin-bottom: 5px;
}

.room-info {
  width: 20rem;
}
.room-info > h5,
.room-info > h2 {
  text-align: center;
}

.playerContainer {
  align-self: start;
}

.playerItem {
  width: 12rem;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}
.gameContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  transform: translate(-50%, 0%);
  align-items: center;
}

.cardContainer {
  display: flex;
  margin-top: 1rem;
}

.whiteCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  height: 15rem;
  width: 10rem;
  margin-right: 10px;
  padding: 10px;
  background-color: white;
  outline: none;
  color: black;
  text-align: left;
  display: inline-flex;
  align-items: flex-start;
}

.whiteCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.blackCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  height: 15rem;
  width: 10rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding: 10px;
  background-color: black;
  outline: none;
  color: white;
}

.playerPointList {
  position: fixed;
  margin: 3rem;
  padding: 0;
}

.judge {
  margin-top: 15px;
}
